<nav class="navbar">
    <!-- LOGO -->
    <div class="logo">SHARC</div>

    <div class="search">
    <input placeholder="Search Item">
    <button>Search</button>
    </div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">


      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <ul><a routerLink="home">Home</a></ul>
        <ul><a routerLink="seller-auth">Seller</a></ul>
        <ul><a routerLink="/login">Login</a></ul>
        <ul class="services">
          <a href="/">Services</a>
          <!-- DROPDOWN MENU -->
          <ul class="dropdown">
            <ul><a href="/">Dropdown 1 </a></ul>
            <ul><a href="/">Dropdown 2</a></ul>
            <ul><a href="/">Dropdown 2</a></ul>
            <ul><a href="/">Dropdown 3</a></ul>
            <ul><a href="/">Dropdown 4</a></ul>
          </ul>

        </ul>
        <ul><a routerLink="/">Cart(0)</a></ul>
        <ul><a href="/">Contact</a></ul>
      </div>
    </ul>
  </nav>